<div class="footer">
    <div class="footer_conten">
        <div class="row footer_conten--top">
            <div class="col-4 col_MB-1">
                <div>
                    <div class="NavBar--logo" style="display: flex;">
                        <a href=""><img class="NavBar--logoicon" src="./assets/img/logo/logo-f8.png" alt=""></a>
                        <h2 class="footer--titleH_logo">Học Lập Trình Để Đi Làm</h2>
                    </div>
                    <ul class="footer_wed--infor-list">
                        <li>
                            <span>Điện thoại: </span>
                            <a href="">0246.329.1102</a>
                        </li>
                        <li>
                            <span>Email: </span>
                            <a href="">contact@fullstack.edu.vn</a>
                        </li>
                        <li>
                            <span>Địa chỉ: Số 26 Dương Đình Nghệ, Phường Yên Hòa, Quận Cầu Giấy, TP. Hà Nội</span>
                        </li>
                    </ul>
                    <div>
                        <a href="">
                            <img src="./assets/img/footer/DMCA_protected.png" alt="" style="margin-top: 20px;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col_MB-1">
                <div class="footer_center">
                    <div>
                        <h2 class="footer_heading">Về F8</h2>
                        <ul class="footer_wed--conten-list">
                            <li>
                                <a href="">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="">Liên hệ</a>
                            </li>
                            <li>
                                <a href="">Điều khoản</a>
                            </li>
                            <li>
                                <a href="">Bảo mật</a>
                            </li>
                            <li>
                                <a href="">Cơ hội việc làm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col_MB-1">
                <div class="footer_center">
                    <div>
                        <h2 class="footer_heading">Sản phẩm</h2>
                        <ul class="footer_wed--conten-list">
                            <li>
                                <a href="">Game Nester</a>
                            </li>
                            <li>
                                <a href="">Game CSS Diner</a>
                            </li>
                            <li>
                                <a href="">Game CSS Selectors</a>
                            </li>
                            <li>
                                <a href="">Game Froggy</a>
                            </li>
                            <li>
                                <a href="">Game Froggy Pro</a>
                            </li>
                            <li>
                                <a href="">Game Scoops</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 col_MB-1">
                <div class="footer_center">
                    <div>
                        <h2 class="footer_heading">Công cụ</h2>
                        <ul class="footer_wed--conten-list">
                            <li>
                                <a href="">Tạo CV xin việc</a>
                            </li>
                            <li>
                                <a href="">Rút gọn liên kết</a>
                            </li>
                            <li>
                                <a href="">Clip-path maker</a>
                            </li>
                            <li>
                                <a href="">Snippet generator</a>
                            </li>
                            <li>
                                <a href="">Cảnh báo sờ tay lên mặt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4 col_MB-1">
                <div class="footer_center">
                    <div>
                        <h2 class="footer_heading">CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8</h2>
                        <ul class="footer_wed--conten-list">
                            <li>
                                Mã số thuế: 0109922901
                            </li>
                            <li>
                                Ngày thành lập: 04/03/2022
                            </li>
                            <li>
                                Lĩnh vực: Công nghệ, giáo dục, lập trình. F8 xây dựng và phát triển những sản phẩm mang
                                lại giá trị cho cộng đồng.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_conter--bot">
            <div class="col-1 col_MB-1">
                <div class="footer--bot_center">
                    <div class="footer--bot_copyright">
                        © 2018 - 2023 F8. Nền tảng học lập trình hàng đầu Việt Nam
                    </div>
                    <ul class="footer--bot_list_app--society">
                        <li>
                            <a href="">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>