<header class="header">
    <div class="header-left">
        <div class="header-back">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="header-infoLogo">
            <a href="">
                <img src="../../assets/img/logo/logo-f8.png" alt="">
            </a>
            <h4>HTML CSS từ Zero đến Hero</h4>
        </div>
    </div>
    <div class="header-right">
        <div class="total-lesson">
            <strong>100</strong>
            bài học
        </div>
        <div class="note">
            <i class="fa-solid fa-file"></i>
            <span>Ghi chú</span>
        </div>
        <div class="tutorial">
            <i class="fa-solid fa-circle-question"></i>
            <span>Hướng dẫn</span>
        </div>
    </div>
</header>
<div class="body">
    <div class="body-left">
        <div class="body-video">
            <div class="body-video_content">
                <iframe width="934" height="526" src="https://www.youtube.com/embed/R6plN3FvzFY?list=PL_-VfJajZj0U9nEXa4qyfB4U5ZIYCMPlz"
                    title="Tổng quan về khóa học HTML CSS tại F8 | Học lập trình web cơ bản | Học được gì trong khóa học?"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="video_content">
            <div>
                <div class="video_content-Top">
                    <header class="wrapper">
                        <h1 class="Heading_heading">CSS form đăng ký - Phần 2</h1>
                        <p class="Heading_updated">Cập nhật tháng 2 năm 2022</p>
                    </header>
                    <button class="video_addNote">
                        <i class="fa-solid fa-plus"></i>
                        <span>Thêm ghi chú</span>
                    </button>
                </div>
                <div class="video_content-Bottom">
                    <p>
                        Tham gia nhóm
                        <a rel="noreferrer" target="_blank" href="https://www.facebook.com/groups/f8official/">Học lập
                            trình tại F8</a>
                        trên Facebook để cùng nhau trao đổi trong quá trình học tập ❤️
                    </p>
                    <p>
                        Các bạn subscribe kênh Youtube
                        <a rel="noreferrer" target="_blank"
                            href="/external-url?continue=https%3A%2F%2Furl.mycv.vn%2Ff8_youtube%3Fref%3Dlesson_desc">F8
                            Official</a>
                        để nhận thông báo khi có các bài học mới nhé ❤️
                    </p>
                </div>
            </div>
        </div>
        <p class="body-left_footer">
            Made with ❤️ <span>.</span> Powered by F8
        </p>
    </div>
    <div class="body-right">
        <div class="body-right_header">
            <h1>Nội dung khóa học</h1>
        </div>
        <div class="list-lessons">
            <div class="lesson-item">
                <div class="lesson-item_left">
                    <h3>
                        <strong>1. </strong>
                        Bạn sẽ làm được gì sau khóa học?
                    </h3>
                    <p>
                        <span>4</span>
                        Lượt xem
                    </p>
                </div>
                <div class="lesson-item_right">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button class="footer-btn-back">
        <i class="fa-solid fa-chevron-left"></i>
        <span>BÀI TRƯỚC</span>
    </button>
    <button class="footer-btn-next">
        <span>BÀI TIẾP THEO</span>
        <i class="fa-solid fa-chevron-right"></i>
    </button>
    <div class="footer-toggle-wrap">
        <h3>12. Xây dựng web Shopee</h3>
        <button>
            <i class="fa-solid fa-arrow-right"></i>
            <!-- <i class="fa-solid fa-bars"></i> -->
        </button>
    </div>
</div>