<div  class="header">
    <div class="NavBar">
        <div class="NavBar--iconBarMB">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="NavBar--logo">
            <a href="/fe-test/index.html"><img class="NavBar--logoicon" src="./assets/img/logo/logo-f8.png" alt=""></a>
            <h4 class="NavBar--logoHeading">Học Lập Trình Để Đi Làm</h4>
        </div>
        <div class="NavBar--seach">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input class="NavBar--search_input" spellcheck="false" placeholder="Tìm kiếm khóa học, bài viết, video, ..."
                value="">
        </div>
        <div class="NavBar--actions">
            <div class="NavBar--iconSearchMB">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
            <div style="position: relative;">
                <button ng-click="LoadParticipations()" class="NarBar--action_myLearn">Khóa học của tôi</button>
                <div class="NarBar-list_courses">
                    <div class="NarBar-list_courseOverall">
                        <div class="MyCourses_Header">
                            <h6>Khóa học của tôi</h6>
                            <a href="" class="MyCourses_views-all-btn">Xem tất cả</a>
                        </div>
                        <div class="MyCourses_Body">
                            <div ng-repeat="x in listParticipations.list_json_Participations" class="MyCourse-item">
                                <a href="">
                                    <img ng-src="{{x.list_json_Courses[0].image?'./assets/img/course/'+x.list_json_Courses[0].image:''}}"
                                        alt="">
                                </a>
                                <div class="MyCourse-item_info">
                                    <h3 class="MyCourse-item_title">
                                        <a href="">{{x.list_json_Courses[0].name}}</a>
                                    </h3>
                                    <p class="MyCourses_last-completed">
                                        Ngày đăng ký : {{x.list_json_Courses[0].createdAt.slice(0,10)}}.
                                    </p>
                                    <div class="Time-alrealy-myCourse"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-bell"></i>
            <div class="NavBar--actions_Avarta">
                <img class="NavBar--Avarta" src="./assets/img/Avarta/Avarta.jpg" alt="">
            </div>
            <div class="My-everythings">
                <div class="My-everythings_Overall">
                    <div class="UserMenu-user">
                        <div class="UserMenu-avatar">
                            <img src="./assets/img/Avarta/Avarta.jpg" alt="">
                        </div>
                        <div class="UserMenu-Name">
                            <span>{{name}}</span>
                        </div>
                    </div>
                    <hr>
                    <ul class="UserMenu-list">
                        <li>
                            <a href="">Trang cá nhân</a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="UserMenu-list">
                        <li>
                            <a href="">Viết blog</a>
                        </li>
                        <li>
                            <a href="">Bài viết của tôi</a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="UserMenu-list">
                        <li>
                            <a href="">Bài viết đã lưu</a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="UserMenu-list">
                        <li id="OnSetting">
                            <a href="#/settings">Cài đặt</a>
                        </li>
                        <li>
                            <a href="">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>