<div class="Contet--main">
    <div class="Home--slisdeshow">
        <div class="slisdeshow--wrapper">
            <div class="slisdeshow--wrapper-back">
                <i class="fa-solid fa-angle-left" style="font-size: 16px;margin-top: 9px;"></i>
            </div>
            <div class="slisdeshow--wrapper-list">
                <div class="slick--track">

                    <div class="slick--slide slick--slide-01">
                        <div class="slick--slide_left">
                            <h2 class="slide_left--heading">
                                <a href="">
                                    Khóa học HTML CSS Pro
                                    <samp class="icon--king">
                                        <img src="./assets/img/icon/crown_thang.svg" alt="">
                                    </samp>
                                </a>
                            </h2>
                            <p class="slide_left--decs">
                                Đây là khóa học đầy đủ và chi tiết nhất bạn có thể tìm thấy được ở trên Internet!
                            </p>
                            <div>
                                <a class="slide--btn" href="">
                                    Tìm hiểu thêm
                                </a>
                            </div>
                        </div>
                        <div class="slick--slide_right">
                            <a href="">
                                <img class="slide_right--img" src="./assets/img/slide/slide_right--img01.png" alt=""
                                    class="slide_right--img">
                            </a>
                        </div>
                    </div>
                    <!--  -->
                    <div class="slick--slide slick--slide-02">
                        <div class="slick--slide_left">
                            <h2 class="slide_left--heading">
                                <a href="">
                                    Học ReactJS Miễn Phí!
                                    <samp class="icon--king">
                                        <img src="./assets/img/icon/crown_thang.svg" alt="">
                                    </samp>
                                </a>
                            </h2>
                            <p class="slide_left--decs">
                                Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể làm hầu
                                hết các dự án thường gặp với
                                ReactJS.
                            </p>
                            <div>
                                <a class="slide--btn" href="">
                                    Đăng ký ngay
                                </a>
                            </div>
                        </div>
                        <div class="slick--slide_right">
                            <a href="">
                                <img class="slide_right--img" src="./assets/img/slide/slide_right--img02.png" alt=""
                                    class="slide_right--img">
                            </a>
                        </div>
                    </div>
                    <!--  -->
                    <div class="slick--slide slick--slide-03">
                        <div class="slick--slide_left">
                            <h2 class="slide_left--heading">
                                <a href="">
                                    Thành Quả của Học Viên
                                    <samp class="icon--king">
                                        <img src="./assets/img/icon/crown_thang.svg" alt="">
                                    </samp>
                                </a>
                            </h2>
                            <p class="slide_left--decs">
                                Để đạt được kết quả tốt trong mọi việc ta cần xác định mục tiêu rõ ràng cho việc đó. Học
                                lập trình cũng không là ngoại
                                lệ.
                            </p>
                            <div>
                                <a class="slide--btn" href="">
                                    Xem kết quả
                                </a>
                            </div>
                        </div>
                        <div class="slick--slide_right">
                            <a href="">
                                <img class="slide_right--img" src="./assets/img/slide/slide_right--img03.png" alt=""
                                    class="slide_right--img">
                            </a>
                        </div>
                    </div>
                    <!--  -->
                    <div class="slick--slide slick--slide-04">
                        <div class="slick--slide_left">
                            <h2 class="slide_left--heading">
                                <a href="">
                                    F8 trên Youtube
                                    <samp class="icon--king">
                                        <img src="./assets/img/icon/crown_thang.svg" alt="">
                                    </samp>
                                </a>
                            </h2>
                            <p class="slide_left--decs">
                                F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người
                                yêu thích lập trình F8 sẽ ở đó.
                            </p>
                            <div>
                                <a class="slide--btn" href="">
                                    Try cập kênh
                                </a>
                            </div>
                        </div>
                        <div class="slick--slide_right">
                            <a href="">
                                <img class="slide_right--img" src="./assets/img/slide/slide_right--img04.png" alt=""
                                    class="slide_right--img">
                            </a>
                        </div>
                    </div>
                    <!--  -->
                    <div class="slick--slide slick--slide-05">
                        <div class="slick--slide_left">
                            <h2 class="slide_left--heading">
                                <a href="">
                                    F8 trên Facebook
                                    <samp class="icon--king">
                                        <img src="./assets/img/icon/crown_thang.svg" alt="">
                                    </samp>
                                </a>
                            </h2>
                            <p class="slide_left--decs">
                                F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người
                                yêu thích lập trình F8 sẽ ở đó.
                            </p>
                            <div>
                                <a class="slide--btn" href="">
                                    Truy cập Facebook
                                </a>
                            </div>
                        </div>
                        <div class="slick--slide_right">
                            <a href="">
                                <img class="slide_right--img" src="./assets/img/slide/slide_right--img05.png" alt=""
                                    class="slide_right--img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slisdeshow--wrapper-next">
                <i class="fa-solid fa-angle-right" style="font-size: 16px;margin-top: 9px;"></i>
            </div>
            <ul class="slisdeshow--wrapper-dost">
                <li><button class="slisdeshow--wrapper-dost-check">1</button></li>
                <li><button>2</button></li>
                <li><button>3</button></li>
                <li><button>4</button></li>
                <li><button>5</button></li>
            </ul>
        </div>
    </div>
    <div class="Home--wrapper">
        <div class="wrapper_list">
            <div class="wrapper_list--heading">
                <h2 class="wrapper_list--heading-title">
                    <span>
                        {{listCourses.name}}
                        <span class="title_new">Mới</span>
                    </span>
                </h2>

            </div>
            <div class="wrapper_list--body">
                <div class="row wrapper_list--body_row">
                    <div ng-repeat="x in listCourses.list_json_courses"
                        class="wrapper_list--body_col col-4 col_TB-4 col_MB-2">
                        <div class="wrapper_list--body_col-item">
                            <a ng-init="checkUserregistercourse(x.courseId,x)"
                                ng-href="{{x.isUserRegistered ? './lesson.html?id=' + x.courseId : '#/home/course?id=' + x.courseId}}"
                                class="wappe_list-item--img view_more"
                                ng-style="{'background-image': x.image ? 'url(./assets/img/course/' + x.image + ')' : 'url(./assets/img/hinh-anh-bi-loi.jpeg)'}">
                                <button class="btn_in-item--img">Xem khóa học</button>
                                <div class="icon_in--item">
                                    <img src="./assets/img/icon/crown_thang.svg" alt="">
                                </div>
                            </a>
                            <h3 class="title_of-item--img">
                                <a
                                    ng-href="{{x.isUserRegistered ? './lesson.html?id=' + x.courseId : '#/home/course?id=' + x.courseId}}">{{x.name}}</a>
                            </h3>

                            <div class="price">
                                <!-- <span class="old--price">{{x.price}}đ</span> -->
                                <span class="new-price">{{x.price}}đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="wrapper_list-sub--heading">
            <strong>309.164+</strong>
            người khác đã học
        </p>
        <div class="wrapper_list">
            <div class="wrapper_list--heading">
                <h2 class="wrapper_list--heading-title">
                    <span>
                        {{listCoursesFree.name}}
                    </span>
                </h2>
                <a href="" class="wrapper_list--heading-view_all">Xem lộ trình<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
            <div class="wrapper_list--body">
                <div class="row wrapper_list--body_row">
                    <div ng-repeat="x in listCoursesFree.list_json_courses"
                        class="wrapper_list--body_col col-4 col_TB-4 col_MB-2">
                        <div class="wrapper_list--body_col-item">
                            <a ng-init="checkUserregistercourse(x.courseId,x)"
                                ng-href="{{x.isUserRegistered ? './lesson.html?id=' + x.courseId : '#/home/course?id=' + x.courseId}}"
                                class="wappe_list-item--img view_more"
                                ng-style="{'background-image': x.image ? 'url(./assets/img/course/' + x.image + ')' : 'url(./assets/img/hinh-anh-bi-loi.jpeg)'}">

                                <button class="btn_in-item--img">Xem khóa học</button>


                            </a>
                            <h3 class="title_of-item--img">
                                <a
                                    ng-href="{{x.isUserRegistered ? './lesson.html?id=' + x.courseId : '#/home/course?id=' + x.courseId}}">{{x.name}}</a>
                            </h3>

                            <div class="hide_BM">
                                <i class="fa-solid fa-users icon_number_user"></i>
                                <span>104.547</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper_list">
            <div class="wrapper_list--heading">
                <h2 class="wrapper_list--heading-title">
                    <span>
                        Bài viết nổi bật
                    </span>
                </h2>
                <a href="" class="wrapper_list--heading-view_all">Xem tất cả<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
            <div class="wrapper_list--body">
                <div class="row wrapper_list--body_row">
                    <div ng-repeat="x in listBlogsoonest" class="wrapper_list--body_col col-4 col_TB-4 col_MB-2">
                        <div class="wrapper_list--body_col-item">
                            <a href="" class="wappe_list-item--img view_more"
                                ng-style="{'background-image': x.image ? 'url(./assets/img/post/' + x.image + ')' : 'url(./assets/img/hinh-anh-bi-loi.jpeg)'}">
                                <button class="btn_in-item--img">Xem bài viết</button>
                            </a>
                            <h3 class="title_of-item--img">
                                <a href="">{{x.title}}</a>
                            </h3>
                            <div class="PostItem_author hide_BM">
                                <a href=""
                                    ng-class="{'PostItem_avarta': true, 'PostItem_avarta--vip': x.list_json_users[0].vip}">
                                    <div class="Fallback_avarta">
                                        <img ng-src="{{x.list_json_users[0].avatar ? ('./assets/img/Avarta/' + x.list_json_users[0].avatar) : './assets/img/Avarta/Avarta.jpg'}}"
                                            alt="">
                                        <img ng-src="./assets/img/icon/crown_nghien.svg" alt="">

                                    </div>
                                </a>
                                <a href="">
                                    <span class="PostItem_user_name">{{x.list_json_users[0].name}}</span>
                                    <i ng-class="{'fa-solid':true , 'fa-circle-check':x.list_json_users[0].vip}"></i>
                                    <span style="margin: 0 8px;">.</span>
                                    <samp style="color: #757575;font-size: 14px;">
                                        {{x.readingTime}} phút đọc
                                    </samp>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper_list">
            <div class="wrapper_list--heading">
                <h2 class="wrapper_list--heading-title">
                    <span>
                        Videos nổi bật
                    </span>
                </h2>
                <a href="" class="wrapper_list--heading-view_all">Xem tất cả<i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
            <div class="wrapper_list--body">
                <div class="row wrapper_list--body_row">
                    <div ng-repeat="x in listVideosoonest" class="wrapper_list--body_col col-4 col_TB-4 col_MB-2">
                        <div class="wrapper_list--body_col-item">
                            <a href="" class="wappe_list-item--img view_more"
                                ng-style="{'background-image': x.image ? 'url(./assets/img/Featured_video/' + x.image + ')' : 'url(./assets/img/hinh-anh-bi-loi.jpeg)'}">

                                <button class="btn_in-item--img">Xem video</button>


                            </a>
                            <h3 class="title_of-item--img">
                                <a href="">{{x.name}}</a>
                            </h3>
                            <div class="videoItem hide_BM">
                                <div>
                                    <i class="fa-solid fa-eye"></i>
                                    <span>{{x.views}}</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <span>{{x.likes}}</span>
                                </div>
                                <div>
                                    <i class="fa-solid fa-comment"></i>
                                    <span>100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

